@use '../components/base' as *;

.contact {
  padding: var(--spacing-4xl) var(--spacing-base);
  background: var(--color-white);

  &__container {
    max-width: 72rem;
    margin-inline: auto;
  }

  &__header {
    text-transform: capitalize;
    @include heading-2-style();
    text-align: center;
    margin-bottom: var(--spacing-2xl);
    color: var(--color-secondary);
  }

  &__grid {
    display: grid;
    // most used grid style
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: var(--spacing-xl);
  }

  // Left side - Info
  &__info {

    .subheading {
      h3 {
        @include heading-3-style();
        color: var(--color-primary);
        margin-bottom: var(--spacing-lg);
      }

      p {
        color: var(--color-secondary);
        margin-bottom: var(--spacing-lg);
      }
    }

    .info-card {

      &__item {
        display: flex;
        gap: var(--spacing-base);
        margin-top: var(--spacing-base);

        // logo Container
        .item-logo {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 3rem;
          height: 3rem;
          background-color: var(--color-bg);
          border-radius: 0.5rem;
          color: var(--color-primary);
        }

        .item-info {
          .label {
            font-weight: var(--font-weight-medium);
            color: var(--color-secondary);
          }

          .value {
            color: var(--color-secondary-70);
            font-size: var(--font-size-sm);
          }
        }
      }
    }

    .social-links {
      margin-top: var(--spacing-xl);

      .heading {
        @include heading-4-style();
        text-transform: capitalize;
        color: var(--color-secondary);
        margin-bottom: var(--spacing-base);
      }

      .links {
        display: flex;
        gap: var(--spacing-base);

        .link__container {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 3rem;
          height: 3rem;
          border-radius: 8px;
          background-color: var(--color-primary);
          color: var(--color-white);
          transition: all 150ms cubic-bezier(0.4, 0, 0.2, 1);
          box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.1);

          &:hover {
            transform: scale(1.1);
            background-color: var(--color-primary-90);
          }
        }
      }
    }
  }

  // Right side - Form

  &__form {

    .form {
      padding: var(--spacing-xl);
      border-radius: var(--spacing-base);
      background-color: var(--form-bg);
      box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
      display: flex;
      flex-direction: column;
      gap: var(--spacing-lg);

      &__layout {
        display: flex;
        flex-direction: column;

        label {
          font-size: var(--font-size-sm);
          font-weight: var(--font-weight-medium);
          margin-bottom: var(--spacing-sm);
          color: var(--color-secondary);
        }

        input,
        textarea {
          width: 100%;
          padding: var(--spacing-md) var(--spacing-base);
          border-radius: 0.5rem;
          border: 1px solid rgba($color: var(--color-primary), $alpha: 0.2);
          background-color: var(--form-input-bg);
          color: var(--color-secondary);
          font-size: var(--font-size-base);

          &:focus {
            outline: none;
            box-shadow: 0 0 0 2px var(--color-primary);
            border-color: var(--color-primary);
          }

          &::placeholder {
            font-family: var(--font-family-primary);
            color: var(--color-text-secondary);
            opacity: 0.5;
          }
        }

        textarea {
          resize: none;
          min-height: 5em;
        }
      }

      button {
        font: inherit;
        font-weight: var(--font-weight-medium);
        color: var(--color-white);
        display: flex;
        gap: var(--spacing-sm);
        align-items: center;
        justify-content: center;
        width: 100%;
        padding: var(--spacing-md) var(--spacing-base);
        border-radius: 0.5rem;
        background-color: var(--color-primary);
        border: none;
        box-shadow: 0 4px 6px rgba(0,0,0,0.1);
        transition: all 150ms ease-in;

        &:hover{
          cursor:pointer;
          transform: scale(1.05);
          background-color: var(--color-primary-90);
        }

      }
    }
  }
}

/* When dark mode is active */
.dark-mode .contact {
  background-color: var(--color-bg);

  &__info {
    .subheading {
      p {
        color: var(--color-text-primary);
      }
    }

    .info-card {
      &__item {

        // logo Container
        .item-logo {
          background-color: var(--color-bg-secondary);
        }

        .item-info {
          .label {
            color: var(--color-white-90);
          }

          .value {
            color: var(--color-white-70);
          }
        }
      }
    }
  }

  &__form {
    .form {
      &__layout {
        label {
          color: var(--color-text-primary);
        }
      }
      button {
        color: var(--color-bg);
      }
    }
  }
}